<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio</title>
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>
    <div class="header">
        <h4>
            <a href="/">Home</a> | 
            <a href="/projects">Projects</a> | 
            Contact
        </h4>
    </div>
    <div class="contact">
        <h2>Contact Me!</h2>
        <form action="/">
            <p>Name</p>
            <input type="text" name="name">
            <p>Email</p>
            <input type="text" name="email">
            <p>Message</p>
            <textarea name="message" rows="4"></textarea>
            <button type="submit">Send</button>
        </form>
    </div>
</body>
</html>