<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio</title>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
    <div class="header">
        <h4>
            Home | 
            <a href="/projects">Projects</a> | 
            <a href="/contact">Contact</a>
        </h4>
    </div>
    <div class="body">
        <h2>About Me</h2>
        <div class="photo">
            <img src="~/img/potato_salad.jpg" alt="me">
            <p>They call me</p>
            <p>Tater Salad</p>
        </div>
        <div class="info">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, minima. Saepe id consequatur nulla amet est eaque placeat quis temporibus, vitae iusto praesentium vero iure, sed consectetur ipsum, maxime voluptas?</p>
        </div>
    </div>
</body>
</html>