<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio</title>
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>
    
</body>
</html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio</title>
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>
    <div class="header">
        <h4>
            <a href="/">Home</a> | 
            Projects | 
            <a href="/contact">Contact</a>
        </h4>
    </div>
    <div class="projects">
        <h2>Here are some projects of mine!</h2>
        <div class="overflow">
            <div class="project">
                <img src="~/img/effie.jpg" alt="effie">
                <div class="project_text">
                    <h4>Effie</h4>
                    <p>She is a good dog.</p>
                </div>
            </div>
            <div class="project">
                <img src="~/img/otis.jpg" alt="effie">
                <div class="project_text">
                    <h4>Otis</h4>
                    <p>He tries to be a good boy.</p>
                </div>
            </div>
            <div class="project">
                <img src="~/img/friends.jpg" alt="effie">
                <div class="project_text">
                    <h4>Friendship</h4>
                    <p>This was hard fought.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>