<!--The content below is only a placeholder and can be replaced.-->
<div class="card" style="padding:20px">
  
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>
  <div class="container center-align">
    <button class="btn" (click)="getTasks()">See all tasks!</button>
      <br>
  <div class="rows">
    <div class="col s11">
        <div class="container" *ngIf="tasks.length !=0">
          <h5>Click on the name of a task for more info!</h5>
          <table class="striped">
            <thead>
              <tr>
                <td>Name</td>
                <td>Description</td>
                <td>Completed?</td>
                <td>Created at</td>
                <td>Delete?</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let task of tasks">
                <td (click)="getOneTask(task.title)">{{task.title}}</td>
                <td>{{task.description}}</td>
                <td>{{task.completed}}</td>
                <td>{{task.createdAt}}</td>
                <td (click)="deleteTask(task._id)">delete</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="container">
          <div class="row">
            <div class="col s6">
              <h5>Add a task!</h5>
              <form (submit)="addTask(newTask)">
                <div class="input-field">
                  <input type="text" name="newTask.title" [(ngModel)]="newTask.title" >
                  <label>Title</label>
                </div>
                <div class="input-field">
                  <input type="text" name="newTask.description" [(ngModel)]="newTask.description" >
                  <label>Description</label>
                </div>
                <div class="input-field">
                  <input type="submit" value="Create Task" class="btn">
                </div>
              </form>
            </div>
          </div>
        </div>
      <app-single [taskToShow]='oneTask'></app-single>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
