<div class="section has-background-primary has-text-centered is-9">
    <div class="columns is-centered">
        <div class="column is-9">
            <h1 class="title"><a href="/products">Products</a> | <a href="/categories">Categories</a></h1>
        </div>
    </div>
</div>
<div class="section">
    <div class="columns is-centered">
        <div class="column is-8">
            <div class="box">
                <p>I don't know why I made this, and am aware that a simple redirect would have removed the necessity of building it altogether. Alas, here we are, so please click above to go to the actual project.</p>
            </div>
        </div>
    </div>
</div>