div.pokedex{
    border: 5px solid red;
    width: 15%;
    display: inline-block;
    height: 450px;
    vertical-align: top;
    text-align:center
}
*{
    font-family:Arial;
}

div.wrapper{
    display:inline-block;
    width: 80%; 
    
}