<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="header w-50 mt-5">
            <h1 class="mb-4 d-inline-block">User {{ user_id }}</h1>
            <a href="/users" class="d-inline-block float-right mt-3">Home</a>
        </div>
        <p>Full Name: {{user_info[0]['full_name']}}</p>
        <p>Email: {{user_info[0]['email']}}</p>
        <p>Created On: {{user_info[0]['created_at']}}</p>
        <p>Last Updated On: {{user_info[0]['updated_at']}}</p>
        <br><br><br><br><br>
        <p><a href="/users/{{user_id}}/edit">Edit</a> | <a href="/users/{{user_id}}/delete">Delete</a></p>
    </div>
    


</body>
</html>