<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Time Display</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'clock/css/style.css' %}">
</head>
<body>
    <div class="container-fluid bg-dark p-5">
        <div class="jumbotron">
            <div class="bg-dark text-light rounded col-2 offset-5">
                <h3>The time and date is:</h3>
            </div>
            <br>
            <div class="bg-dark text-light rounded col-6 offset-3">
                <h1>{{time}}</h1>
            </div>
        </div>
    </div>
    
</body>
</html>