@model LoginUser
<div class="container has-background-dark">
    <div class="columns is-centered has-background-primary">
        <div class="column is-half">
            <div class="level">
                <h1 class="title has-text-dark">Registration</h1>
                <h2><a href="/">Register</a></h2>
            </div>
        </div>
    </div>
    <div class="columns is-centered">
        <div class="column is-half">
            <div class="box has-text-centered">
                <form asp-action="Attempt" asp-controller="Home"  method="post">
                        <div class="columns">
                            <div class="column">
                                <div class="field">
                                    <span asp-validation-for="lEmail"></span>
                                    <label asp-for="lEmail" class="label">Email</label>
                                    <input asp-for="lEmail" class="input">
                                </div>
                            </div>
                            <div class="column">
                                <div class="field">
                                    <span asp-validation-for="lPassword"></span>
                                    <label asp-for="lPassword" class="label">Password</label>
                                    <input asp-for="lPassword" class="input">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="button is-primary">Login now!</button>
                </form>
            </div>
        </div>
    </div>
</div>