<section class="section">
    <div class="section has-text-right has-background-success">
        <h1 class="title has-text-dark has-text-centered">Success!</h1>
        <a href="/logout">Logout</a>
    </div>
</section>