<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src="socket.js"></script>
</head>
<body style="background-color:yellow">
    <div class="container center-align" style="padding: 50px">
        <div class="row">
            <div class="col">
                <button class="green btn" id="green">Green</button>
            </div>
            <div class="col">
                <button class="pink btn" id="pink">Pink</button>
            </div>
            <div class="col">
                <button class="btn blue" id="blue">Blue</button>
            </div>
        </div>
    </div>
</body>
</html>