<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>City Slicker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'cityInfo/css/style.css' %}">
    <script src="{% 'cityInfo/js/script.js %}'"></script>
  </head>

  <body>
    <h1>City Autocomplete</h1>
    <form action="/search" autocomplete="off">
        <div class="autocomplete">
            <input type="text" name="country">
            <button></button>
        </div>
        <div class="header"></div>
    </form>

  </body>
</html>
