@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model surveyResults

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Survey</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
  <section class="section">
    <div class="column is-6">
      <div class="box">
        <h1 class="title">
          Dojo Survey:
        </h1>
        <form action="result" method="post">
          <div class="field">
              <span asp-validation-for="name"></span>
              <label class="label">Your Name:</label>
              <div class="control">
                  <input type="text is-small" class="input" name="name">
              </div>
          </div>
          <div class="field">
              <span asp-validation-for="location"></span>
              <label class="label">Dojo Location:</label>
              <div class="control">
                  <div class="select">
                      <select name="location">
                          <option value="">Please Select</option>
                          <option value="San Jose">San Jose</option>
                          <option value="Seattle">Seattle</option>
                          <option value="Tulsa">Tulsa</option>
                      </select>
                  </div>
              </div>
          </div>
          <div class="field">
              <span asp-validation-for="language"></span>
              <label class="label">Favorite Language:</label>
              <div class="control">
                  <div class="select">
                      <select name="language">
                          <option value="">Please Select</option>
                          <option value="Python">Python</option>
                          <option value="C#">C#</option>
                          <option value="JS">JS</option>
                      </select>
                  </div>
              </div>
          </div>
          <div class="field">
              <span asp-validation-for="comment"></span>
              <label class="label">Comment (Optional):</label>
              <div class="control">
                  <textarea class="textarea" name="comment"></textarea>
              </div>
          </div>
          <div class="field">
            <div class="control">
              <button class="button is-primary">
                Submit
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
  </body>
</html>