<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Wall</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-light bg-warning">
        <h1 class="d-inline-block">The Wall</h1>
        <div class="float-right d-inline-block">
            <p class="d-inline-block">Welcome, PLACEHOLDER</p>
            <a class="d-inline-block" href="/logout">Logout</a>
        </div>
    </nav>
    <div class="container-fluid bg-dark p-5">
        <div class="container bg-light rounded p-4 col-10">
            <h2 class="ml-2 border-bottom border-warning col-9">Success! Welcome!</h2>
            <h3 class="text-success ml-4 mt-4">Succesfully registered (or logged in)!</h3>
        </div>
    </div>
</body>
</html>